footer.footer.row
  .footer__body.container
    p.footer__copyright.text-center
      | &copy; 2016 CODEME

// import jquery //
script(src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous")
// our custom js fun staff
script(src="js/script.js")