doctype html
html(lang='pl')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='keywords', content='')
        title CodeME.eu
        // let's reset all settings
        link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
        // fontawesome cdn for icons
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        // yes, we use bootstrap grid
        link(rel="stylesheet", href="css/bootstrap.css")
        // main stylesheet link        
        link(rel="stylesheet", href="css/style.css")
        // test stylesheet - delete after work done
        link(rel="stylesheet", href="test.css")
    body
        // Here is the place for some fun
        
        
        // import jquery //
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous")
        // our custom js fun staff
        script(src="js/script.js")
    
  