extends layout

mixin team-member(name, position)
    .project.col-xs-6.col-sm-4.col-lg-3
        .team__member
            img.member__photo
            h5.member__name
            h6.member__position
            p.member__about

append sub_content
    section.team.row
        .team__body.container
            h2.team__heading
                | Zespół najlepszych specjalistów
            nav.team__types
                ul.team__types--list.types
                    li.members__item
                        a.member__type.active(href="#", title="Zespół")
                            | Zespół
                    li.members__item
                        a.member__type(href="#", title="Front-End Developer")
                            | Front-End Developer
                    li.members__item
                        a.member__type(href="#", title="Back-End Developer")
                            | Back-End Developer
                    li.members__item
                        a.member__type(href="#", title="Designer")
                            | Designer
                    li.members__item
                        a.member__type(href="#", title="SEO/SEM Specialist")
                            | SEO/SEM Specialist

        .team__members.container-fluid
            +team-member('Member name', 'Position')
            +team-member('Member name', 'Position')

            +team-member('Member name', 'Position')
            +team-member('Member name', 'Position')

            +team-member('Member name', 'Position')
            +team-member('Member name', 'Position')


    section.we-believe.row
        .we-believe__body.container
            .we-believe__left.col-xs-12.col-md-6
                p.we-believe__text
                    | Wierzymy że czyny mówią więcej niż słowa
            .we-believe__right.col-xs-12.col-md-6
                a.we-believe__btn.btn(href="#")
                    | Nasze strony

    section.contact.row
        .contact__body.container
            h3.contact__heading
                | Nie czekaj, skontaktuj się

            .contact__wrapper--left.col-md-6
                ul.contact__methods
                    li.contact__item--telephone
                        a(href="tel:+48739288022")
                            | +48 739 288 022
                    li.contact__item--email
                        a(href="mailto:kontakt@codeme.eu")
                            | kontakt[at]codeme.eu
                    li.contact__item--facebook
                        a(href="http://www.facebook.com/codemeeu/")
                            | /codemeeu

            .contact__wrapper--right.col-md-6
                form.form(method="post", action="contact.php")
                    input.form__field--name(type="text", name="user_name", placeholder="imię i nazwisko")
                    input.form__field--email(type="email", name="user_email", placeholder="adres e-mail")
                    input.form__field--subject(type="text", name="user_subject", placeholder="temat wiadomości")
                    textarea.form__field--message(name="user_message" placeholder="treść wiadomości")
                    input.form__button--submit(type="submit", value="Wyślij")